<div class="header">
  <md-toolbar class="md-menu-toolbar" md-whiteframe="1">
    <div class="md-toolbar-tools">
      <a style="height:100%" href="#"><img src="app/assets/bcs_logo.jpg" style="max-height:100%;" alt="logo" /></a>
      <span flex></span>
      <div class="hide-xs hide-sm" layout="row" layout-wrap layout-align="start start">
        <menu layout="row"></menu>
      </div>
      <md-button class="md-icon-button hide-gt-sm" ng-click="vm.toggleMenu()">
        <md-icon>&#xE5D2;</md-icon>
      </md-button>
    </div>
  </md-toolbar>
</div>
